<style>
  :host {
    --bright-blue: oklch(51.01% 0.274 263.83);
    --electric-violet: oklch(53.18% 0.28 296.97);
    --french-violet: oklch(47.66% 0.246 305.88);
    --vivid-pink: oklch(69.02% 0.277 332.77);
    --hot-red: oklch(61.42% 0.238 15.34);
    --orange-red: oklch(63.32% 0.24 31.68);

    --gray-900: oklch(19.37% 0.006 300.98);
    --gray-700: oklch(36.98% 0.014 302.71);
    --gray-400: oklch(70.9% 0.015 304.04);

    --red-to-pink-to-purple-vertical-gradient: linear-gradient(180deg,
        var(--orange-red) 0%,
        var(--vivid-pink) 50%,
        var(--electric-violet) 100%);

    --red-to-pink-to-purple-horizontal-gradient: linear-gradient(90deg,
        var(--orange-red) 0%,
        var(--vivid-pink) 50%,
        var(--electric-violet) 100%);

    --pill-accent: var(--bright-blue);

    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1 {
    font-size: 3.125rem;
    color: var(--gray-900);
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.125rem;
    margin: 0;
    font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
  }

  p {
    margin: 0;
    color: var(--gray-700);
  }

  main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
  }


  .content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 700px;
    margin-bottom: 3rem;
  }

  .content h1 {
    margin-top: 1.75rem;
  }

  .content p {
    margin-top: 1.5rem;
  }

 
  @media screen and (max-width: 650px) {
    .content {
      flex-direction: column;
      width: max-content;
    }
  }
</style>

<main class="main">

  <div class="container">
    <mat-form-field appearance="fill" class="w-full mb-4">
      <mat-label>Search heroes by name...</mat-label>
      <input matInput [(ngModel)]="filterValue" (keyup)="applyFilter()" placeholder="Search heroes by name...">
    </mat-form-field>
  
    <mat-chip-list #chipList aria-label="Hero selection">
      <mat-chip
        *ngFor="let chip of chipFilters"
        [removable]="true"
        (removed)="removeChip(chip)">
        {{chip}}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input
        placeholder="Add hero name..."
        #chipInput
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="true"
        (matChipInputTokenEnd)="addChip($event)">
    </mat-chip-list>
  
    <table mat-table [dataSource]="dataSource" class="w-full mt-4">
  
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{element.id}}</td>
      </ng-container>
  
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element" (click)="openDialog(element)">{{element.name}}</td>
      </ng-container>
  
      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef>Gender</th>
        <td mat-cell *matCellDef="let element">{{element.gender}}</td>
      </ng-container>
  
      <ng-container matColumnDef="citizenship">
        <th mat-header-cell *matHeaderCellDef>Citizenship</th>
        <td mat-cell *matCellDef="let element">{{element.citizenship}}</td>
      </ng-container>
  
      <ng-container matColumnDef="skill">
        <th mat-header-cell *matHeaderCellDef>Skill</th>
        <td mat-cell *matCellDef="let element">{{element.skill}}</td>
      </ng-container>
  
      <ng-container matColumnDef="occupation">
        <th mat-header-cell *matHeaderCellDef>Occupation</th>
        <td mat-cell *matCellDef="let element">{{element.occupation}}</td>
      </ng-container>
  
      <ng-container matColumnDef="member">
        <th mat-header-cell *matHeaderCellDef>Member Of</th>
        <td mat-cell *matCellDef="let element">{{element.member}}</td>
      </ng-container>
  
      <ng-container matColumnDef="creator">
        <th mat-header-cell *matHeaderCellDef>Creator</th>
        <td mat-cell *matCellDef="let element">{{element.creator}}</td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="columnDefs"></tr>
      <tr mat-row *matRowDef="let row; columns: columnDefs;"></tr>
    </table>
  </div>

</main>
